[Unit]
Description=DNS Proxy Service
After=network.target

[Service]
ExecStart=/usr/bin/dns_proxy /etc/dns_proxy.conf
Restart=on-failure
LimitNOFILE=45000

[Install]
WantedBy=multi-user.target
